<html>
  <head>
    <title>ARM ASL</title>
    <!-- Bootstrap CSS -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
      function loadXMLDoc(filename)
      {
          if (window.ActiveXObject)
          {
              xhttp = new ActiveXObject("Msxml2.XMLHTTP");
          }
          else
          {
              xhttp = new XMLHttpRequest();
          }
          xhttp.open("GET", filename, false);
          try {xhttp.responseType = "msxml-document"} catch(err) {} // Helping IE11
          xhttp.send("");
          return xhttp.responseXML;
      }

      function displayResult()
      {
          xml = loadXMLDoc("/static/arm-asl/{{ asldir }}/{{ aslfile|safe }}");
          xsl = loadXMLDoc("/static/arm-asl/{{ asldir }}/one_register.xsl");
          // code for IE
          if (window.ActiveXObject || xhttp.responseType == "msxml-document")
          {
              ex = xml.transformNode(xsl);
              document.getElementById("asl_reg_view").innerHTML = ex;
          }
          // code for Chrome, Firefox, Opera, etc.
          else if (document.implementation && document.implementation.createDocument)
          {
              xsltProcessor = new XSLTProcessor();
              xsltProcessor.importStylesheet(xsl);
              resultDocument = xsltProcessor.transformToFragment(xml, document);
              document.getElementById("asl_reg_view").appendChild(resultDocument);
                  var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
                  if (window.location.hash && isChrome) {
                      setTimeout(function () {
                          var hash = window.location.hash;
                          window.location.hash = "";
                          window.location.hash = hash;
                      }, 300);
                  }
          }
      }
    </script>
  </head>
  <body onload="displayResult()">

    <h1>Devutils ARM ASL View</h1>
    <div>
      <div id="asl_reg_view" />
    </div>
  </body>
</html>
