{% extends "layout.jinja2" %}

{% block content %}
<div class="card">
  <img src="{{ url_for('static', filename='img/logo.jpg') }}" class="logo" />
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">Development Utils to make life easy.</p>
  <a href="/elf_size_analyse/" class="dash-link">
    <span>Elf size analysts</span>
    <i class="fas fa-arrow-right"></i>
  </a>
  <a href="/regutils/" class="dash-link">
    <span>Regs analysts</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
{% endblock %}
